03 InstanceBasedWebhook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "documentdb_1_Connection_Name": {
      "type": "string",
      "defaultValue": "documentdb"
    },
    "documentdb_1_Connection_DisplayName": {
      "type": "string"
    },
    "documentdb_1_databaseAccount": {
      "type": "string",
      "metadata": {
        "description": "Name of the account without 'documents.azure.com' part"
      }
    },
    "documentdb_1_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Primary or Secondary Key"
      }
    },
    "LogicAppLocation": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "australiasoutheast"
    }
  },
  "variables": {},
  "resources": [
    {
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Delete_Instance-Based_Webhook_Subscription_from_CosmosDb": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['documentdb']['connectionId']"
                  }
                },
                "method": "delete",
                "path": "/dbs/@{encodeURIComponent('db')}/colls/@{encodeURIComponent('webhooksubscriptions')}/docs/@{triggerFormDataValue('From')}"
              },
              "runAfter": {
                "Post_Response_Message_to_Instance-based_Callback_Url": [
                  "Succeeded"
                ]
              },
              "description": "After triggering the instance-based webhook, delete the subscription from CosmosDb"
            },
            "Get_Instance-Based_Webhook_Callback_from_CosmosDb": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['documentdb']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/dbs/@{encodeURIComponent('db')}/colls/@{encodeURIComponent('webhooksubscriptions')}/docs/@{triggerFormDataValue('From')}"
              },
              "runAfter": {},
              "description": "Gets the stored instance-based subscription (callback Url) from CosmosDb based on the message id (from number) coming on the confirmation sms message"
            },
            "Post_Response_Message_to_Instance-based_Callback_Url": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@body('Get_Instance-Based_Webhook_Callback_from_CosmosDb')['callbackUrl']",
                "body": {
                  "response": "@{triggerFormDataValue('Body')}"
                }
              },
              "runAfter": {
                "Get_Instance-Based_Webhook_Callback_from_CosmosDb": [
                  "Succeeded"
                ]
              },
              "description": "Posts the response message received on the SMS message to the corresponding instance-based callback url"
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {},
                "method": "POST"
              },
              "description": "Receives an Http Post Request from Twilio Webhook (static subscription)"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "documentdb": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'australiasoutheast', '/managedApis/', 'documentdb')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('documentdb_1_Connection_Name'))]",
                "connectionName": "[parameters('documentdb_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "name": "pacofarmtotable-logic-correlatestaticwebhookcallbacktoinstancebased",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('LogicAppLocation')]",
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('documentdb_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('documentdb_1_Connection_Name')]",
      "location": "australiasoutheast",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'australiasoutheast', '/managedApis/', 'documentdb')]"
        },
        "displayName": "[parameters('documentdb_1_Connection_DisplayName')]",
        "parameterValues": {
          "databaseAccount": "[parameters('documentdb_1_databaseAccount')]",
          "accessKey": "[parameters('documentdb_1_accessKey')]"
        }
      }
    }
  ],
  "outputs": {}
}